@tailwind base;
@tailwind components;
@tailwind utilities;

.active-posts-type {
  font-weight: bold;
  color: white;
  border-bottom-color: #1d9bf0;
}

em-emoji-picker {
  translate: -30%;
}

.followed {
  border: 1px;
  border-style: solid;
  border-color: "#2f3336";
  color: white;
  background-color: black;
}

.followed:hover {
  border-color: rgb(244 33 46);
  background-color: rgb(244 33 46 / 10%);
  color: rgb(244 33 46);
}

video::-webkit-media-controls {
  display: none !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d9bf0;
  border-radius: 5px;
}
